nav li {
    /* padding: 5px; */
    /* display: inline; */
    background: grey;
    color: blue;
    font-size: 15px;
    text-decoration: underline;
}

section {
    height: 300px;
    background: rgb(165, 77, 165);
    border: 5px solid gold;
}

h1 {
    font-family: 'Source Sans Pro';
    font-size: 30px;
    text-align: center;
    color: gold;

}

h2 {
    text-decoration: line-through;
}

footer {
    height: 300px;
    width: 70%;
    background: rgb(75, 43, 43);
}

