<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="assets/css/main.css">
		<title>Layout-1</title>
	</head>
	<body>
		<header>
			<h1>Header</h1>
		</header>
		<section class="triples"> <!-- Triple Section-->
			<section>
				<h4>
					Section 1
				</h4>
			</section>
			<section>
				<h4>
					Section 2
				</h4>
			</section>
			<section>
				<h4>
					Section 3
				</h4>
			</section>
		</section> 
		<section class="doubles"> <!-- Double Section -->
			<section>
				<h3>
					Section 1
				</h3>
			</section>
			<section>
				<h3>
					Section 2
				</h3>
			</section>
		</section> 
		<footer>
			<h2>
				Footer
			</h2>
		</footer>
	</body>
</html>