<!DOCTYPE html>
<html lang="en">
	<head>
    		<meta charset="UTF-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Responsive Pain</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header class="container">This 
			<span class="tablet">website</span>
			<span class="laptop">- built using HTML/CSS </span>
			<span class="desktop"> with the help of #100Devs - </span>
		</header>
		<section class="container">is
			<span class="tablet"> responsive and</span>
			<span class="laptop"> adaptive using media queries </span>
			<span class="desktop">(not to mention stylish) and is </span>
		</section>
		<section class="container">designed
			<span class="tablet"> to be used</span>
			<span class="laptop"> primarily, but not always, </span>
			<span class="desktop"> but most likely </span>
		</section>
		<section class="container">for
			<span class="tablet"> the following</span>
			<span class="laptop"> types</span>
			<span class="desktop"> of devices</span>
		</section>
		<footer class="container">
			<h1 class="mobile">Mobile</h1>
			<h1 class="tablet">Tablets</h1>
			<h1 class="laptop">Laptops</h1>
			<h1 class="desktop">Desktops</h1>
		</footer>
	</body>
</html>
