/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/******************************************/

/*************************
/* ROOT FONT STYLE
/*************************/

html {
     font-size: 62.5%;
}

body {
     font-size: 1.6rem;
     font-family: 'Alegreya Sans', sans-serif;
}

/*************************
/* BACKGROUNDS
/*************************/

body {
     background-image: url("https://github.com/need4swede/100Dev/blob/main/Classes/Class-10/Assignment/Restaurant/img/background.jpg?raw=true"); 
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #ffffff;
}

body > section {
     background-image: url("https://github.com/need4swede/100Dev/blob/main/Classes/Class-10/Assignment/Restaurant/img/background-2.jpg?raw=true");
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-size: cover;
     padding: 2.5% 0 15% 0;
}

body > section + section {
     background-image: url("https://github.com/need4swede/100Dev/blob/main/Classes/Class-10/Assignment/Restaurant/img/background-3.jpg?raw=true"); 
     background-size: cover;
     background-color: #ffffff;
}

body > section + section + section {
     background-image: url("https://github.com/need4swede/100Dev/blob/main/Classes/Class-10/Assignment/Restaurant/img/background-4.jpg?raw=true");
     background-attachment: fixed; 
     background-size: cover;
     background-color: #ffffff;
}

body > section + section + section + section {
     background-image: url("https://github.com/need4swede/100Dev/blob/main/Classes/Class-10/Assignment/Restaurant/img/background-3.jpg?raw=true");
     background-size: cover;
     background-color: #ffffff;
}

footer {
     background-image: url("https://github.com/need4swede/100Dev/blob/main/Classes/Class-10/Assignment/Restaurant/img/background-3.jpg?raw=true");
     background-size: cover;
     background-position: bottom;
     background-color: #ffffff;
}

/*************************
/* TYPE PROPERTIES
/*************************/

a {
     text-decoration: none;
     color: black;
}

h1, h2, h3, h4, h5, h6 {
     margin: 0;
}

h1 {
     font-size: 8rem;
}

h2 {
     font-size: 6rem;
}

h3 {
     font-size: 4rem;
}

h4 {
     font-size: 2rem;
     color: orange;
}

p {
     font-family: 'Lato', sans-serif;
     font-weight: 500;
     font-size: 1.35rem;
}

/******************************************
/* LAYOUT
/******************************************/

/*************************
/* MAIN SECTION
/*************************/

/* Float nav up-right, occupy top row, and pad content to the right */
nav {
     float:right;
     width: 100%;
     padding-left: 25%;
}

/* Remove list dots, horizontally align links, and give them some spacing */
nav li {
     font-weight: 500;
     list-style-type: none;
     display: inline;
     margin: 3.5%;
}

/* Clear main from floating up, position it using padding and let it cover the whole width */
main {
     clear: both;
     padding-left: 15%;
     padding-top: 10%;
     width: 100%;
     height: 100%;
}

/* Search form in main */
main input {
     margin: 2% 0;
     width: 38%;
     height: 6.85%;
     overflow: hidden;
}

/* Search button in main*/
main form a {
     background: orange;
     color: white;
     border-radius: 0px 10px 10px 0px;
     padding: 1% 2%;
}

/* Add separation between the social tags under the main search bar */
main section span {
     margin-right: 5%;
     font-family: 'Libre Franklin', sans-serif;
}

/* Social tags in main */
main section > i {
     color: orange;
}

/*************************
/* SECOND SECTION
/*************************/

/* Set width of section and move elements nearer to the center */
body > main + section > * {
     width: 45%;
     margin: 0 42%
}

/* Give heading some top margin */
body > section > h2 {
     margin-top: 1%;
}

/* Apply text padding for paragraph */
body > section > p {
     padding: 1% 0%;
     line-height: 2.5;
}

/* Give some margin under paragraph for the button */
body > section > p + p {
     margin-bottom: 3%;
}

/* Section button */
body > main + section > aside a {
     color: white;
     background: orange;
     padding: 2% 4%;
     border-radius: 5px 0 0 5px;
}

/* Arrow next to button */
body > main + section > aside i {
     color: white;
     background: rgba(255, 165, 0, 0.7);
     border-radius: 0 5px 5px 0;
     padding: 2.1% 1% 2.45% 1%;
}

/*************************
/* THIRD SECTION
/*************************/

/* Set section width */
body > section + section {
     width: cover;
     padding-bottom: 5%;
}

body > section + section > section {
     margin: 0 auto;
     width: 75%;
}

/* Center align text elements */
body > section + section > h2, body > section + section > h4, body > section + section ul {
     padding: 0;
     margin: 0 auto;
     text-align: center;
}

/* Give heading some vertical margin */
body > section + section > h2 {
     margin: 1% auto 2% auto;
}

/* Give the list some bottom margin */
body > section + section ul {
     margin-bottom: 4%;
}

/* Configure the list and give each link a bottom border */
body > section + section li {
     display: inline;
     list-style-type: none;
     padding: 2% 3.5%;
     margin: 0% 0.5%;
     border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

/* Give the first link a highlighted border */
body > section + section li:first-child {
     border-bottom: 2px solid orange;
}

/* Set size and margin for the images */
body > section + section img {
     width: 20%;
     margin: 0 2% 3% 2%;
}

/* Bullet points */
body > section + section > section + section + section {
     color: rgba(255, 165, 0, 0.3);
     text-align: center;
     margin-top: 2%;
}

/* Highlight the third bullet */
body > section + section > section + section + section i:nth-child(3) {
     color: rgba(255, 165, 0, 1);
}

/* Apply horizontal padding for bullets */
body > section + section > section + section + section i {
     padding: 0 1%;
}

/*************************
/* FOURTH SECTION
/*************************/

body > section + section + section > {
     height: 100%;
}

/* Set margin for heading */
body > section + section + section h2 {
     margin-bottom: 8%;
}

/* Center the icon and give its size */
body > section + section + section > span {
     font-size: 3rem;
     display: block;
     text-align: center;
}

/* Color the icon and add bottom margin */
body > section + section + section > span i {
     color: orange;
     margin-bottom: 3%;
}

/* Size of text under the icon */
body > section + section + section > span + span {
     font-size: 2.5rem;
     
}

/* Phone number */
body > section + section + section > span + span + span {
     color: orange;
     font-family: 'Playfair Display', serif;
     font-size: 4rem;
     font-weight: 600;
     letter-spacing: 2px;
}

/* body > section + section + section > section {
     width: 100%;
} */

/* Schedule - Days*/
body > section + section + section > section section {
     float: right;
     margin: 5%;
     width: 33.3333%;
     font-size: 2rem;
     font-weight: bold;
}

/* Schedule - Hours */
body > section + section + section > section section span {
     font-size: 3rem;
     display: block;
}

/* Section image */
body > section + section + section > img {
     clear: both;
     margin: 0 25%;
     width: 50%;
}

/*************************
/* FIFTH SECTION
/*************************/

/* Set section height */
body > section + section + section + section {
     height: 100%;
}

/* Give elements a margin bottom */
body > section + section + section + section *{
     margin-bottom: 2%;
}

/* Customer Photo */
body > section + section + section + section > img {
     margin: 0 auto;
     display: block;
     padding: 0;
     width: 8%;
}

/* Customer Name */
body > section + section + section + section > span {
     margin-bottom: 0;
     margin-top: 2%;
}

/* Customer Title */
body > section + section + section + section > span + span {
     font-size: 1.8rem;
     color: grey;
     margin-top: 0;
     margin-bottom: 2%;
}

/* Review - Position */
body > section + section + section + section > section {
     text-align: center;
     margin-bottom: 2%;
}

/* Review - Color */
body > section + section + section + section > section span {
     color: orange;
}

/* Review - Text */
body > section + section + section + section p {
     text-align: center;
     font-size: 1.8rem;
     font-family: 'Alegreya Sans', sans-serif;
     font-weight: 400;
     font-style: italic;
     color: rgba(0, 0, 0, 0.6);
     margin: 0 auto;
     width: 60%;
     margin-bottom: 2%;
}

/* Bullet points */
body > section + section + section + section > section {
     color: rgba(255, 165, 0, 0.3);
}

/* Highlight the third bullet */
body > section + section + section + section > section i:nth-child(3) {
     color: rgba(255, 165, 0, 1);
}

/*************************
/* FOOTER SECTION
/*************************/

footer *{
     text-align: center;
     color: grey;
     font-size: 1.6rem;
     letter-spacing: .6rem;
     padding-bottom: 4%;
}

footer a {
     color: black;
}

/******************************************
/* ADDITIONAL STYLES
/******************************************/

@media screen and (max-width: 1430px) {
     body > section {
          background-size: cover;
          background-attachment: fixed;
     }
}