<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="assets/css/main.css">
		<title>Layout-3</title>
	</head>
	<body>
		<header>
			<h1>Header</h1>
		</header>
		<section class="container">
			<section class="twenty"> <!-- Smaller Section -->
				<h4>20%</h4>
			</section>
			<section class="fourty"> <!-- Larger Section -->
				<h4>40%</h4>
			</section>
			<section class="twenty"> <!-- Smaller Section -->
				<h4>20%</h4>
			</section>
			<section class="twenty"> <!-- Smaller Section -->
				<h4>20%</h4>
			</section>  
		</section> 
		<footer>
			<h2>
				Footer
			</h2>
		</footer>
	</body>
</html>