.news-category {
    color: blue;
    font-size: 16px;
}

.navbar li {
    background-color: black;
    list-style-type: none;
    display: inline;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 5px;
    border-left: 1px solid black;
    position: inherit;

}

.navbar-title {
    color: white;
    background-color: black;
}

.headline-article-subtitle {
    font-style: italic;
}

.secondary-headline-stories {
    font-style: oblique;
    font-weight: lighter;
    position: relative;
}

.news-title {
    color: red;
}

.news-article-subtitle {
    font-style: italic;
}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.news-stories-content {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .news-story::after {
    content: "";
    clear: both;
    display: table;
  }